body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #7dbfe3;
}

header {
    background: #000000;
    color: #87d7f9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-image {
    width: 60px; /* Ajuste o tamanho conforme necessário */
    height: 60px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Faz a imagem ser redonda */
    object-fit: cover;
    margin-right: 1rem;
}

.header-text {
    flex: 1;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #82c8df;
    text-decoration: none;
}

section {
    padding: 2rem;
}

h2 {
    border-bottom: 2px solid #7ce7ff;
    padding-bottom: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.grid-item {
    background: #ffffff;
    padding: 1rem;
    text-align: center;
}

footer {
    background: #000000;
    color: #89defd;
    text-align: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    border: 3px solid #5cbbe3;
    border-radius: 5px;
}

form button {
    background: #4a3b44;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #8ad3df;
}